#about-top{
    height:90vh;
}

#about-top > .title{
    padding-left:2vw;
}

#about-top-image{
    background-image: url("../img/about_top.jpg");
    position: absolute;
    width: 70vw;
    height:80vh;
    right:0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size:cover;
}


#about-second{
    background-color: #F8F8F8;
}
#about-third{height: 90vh;
    overflow: hidden;
}
#about-forth{
    height: 100vh;
    overflow: hidden;
    background-color: #F8F8F8;
}
#about-fifth{
    background-color: #FFD597;
}

.slide-text{
    position: relative;
}

#slider{
    background-color: #5c5c5c;
    color: white;
}
#slider .subtitle{
    color:white;
}
#about-sixth{
    background-color: #A6D2F4;
}
.tile.is-child{
    background-color: white;
    border-radius: 10px;
    margin:20px;
}

.tile .subcatchcopy{
    font-size: 1.5rem;
    margin:15px;
}

.tile.is-vertical{
    height:40vh;
}
.tile{
    padding:15px;
}